* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    display: grid;
    place-items: center;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(54,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.wrapper {
    height: 60rem;
    width: 40rem;
    border-radius: 2rem;
    background-color: rgba(255, 209, 209, 0.100) ;    
}