* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

/* general styles of body and main container */

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(54,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.wrapper {
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
}

/* card styling */

.card {
    height: 60%;
    width: 20%;
    border: 0.2rem solid white;
    background-color: none;
    display: grid;
    grid-template-rows: 0.75fr 4fr 1.5fr;    
}

/* HEADER */

.card--header {
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
}

.header--icon-container {
    height: 3.6rem;
    width: 5rem;
    display: flex;
    place-items: center;
    background-color: none;
    border-radius: 50%;
}

.header--icon {
    background-image: url("https://img.icons8.com/ios/50/FFFFFF/steganographie.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    width: 75%;
    height: 75%;
}

.header--title-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    color: white;
}


/* PICTURE */

.card--hero {
    width: 100%;
    height: 100%;
}

.card--hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/* FOOTER */

.card--footer {
    height: 100%;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 3rem;
    color: white;
}

.footer--actions{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer--actions__left {
    width: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    text-transform: uppercase;
}

.footer--actions__right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
}

.footer--actions__right i {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 1.6rem;
    width: 1.6rem;
}

.actions__right--heart {
    background-image: url("https://img.icons8.com/ios/50/FFFFFF/like--v1.png");
}
/* 
"https://img.icons8.com/ios/50/000000/share-2--v1.png" */

.actions__right--share {
    background-image: url("https://img.icons8.com/ios/50/FFFFFF/share-2--v1.png");
}